body {
  margin-top: 3em;
}

nav  {
  position: absolute;
  right: .5em;
  top: .5em;
}

nav ul {
  display: block;
  margin: 0;
  padding: 0;
}

nav li {
  border: 1px solid black;
  border-right: none;
  display: inline-block;
  padding: .5em;
}

nav li:last-of-type {
  border-right: 1px solid black;
}

nav li:hover {
  background: #ddd;
}

nav a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}

ul.photos {
  display: block;
  margin: 0;
  padding: 0;
}

ul.photos li {
  display: block;
  margin: 0;
  padding: 0;
}

ul.photos li img {
  border-radius: 2em;
  margin: -.5em 0;
  max-height: 10em;
  max-width: 20em;
  padding: 1.5em 2em;
}

ul.photos li img:hover {
  background: #ffa;
}
